<div class="dashboard">

    <div class="widget-card clock-widget">
        <h2>Clock</h2>
        <app-clock-widget></app-clock-widget>
    </div>

    <section class="widget-card quote-widget">
        <h2>Quote of the Day</h2>
        <app-quote-widget></app-quote-widget>
    </section>

    <section class="widget-card todo-widget">
        <h2>To-Do List</h2>
        <app-todo-widget></app-todo-widget>
    </section>

    <section class="widget-card weather-widget">
        <h2>Weather</h2>
        <app-weather-widget></app-weather-widget>
    </section>

    <section class="widget-card news-widget">
        <h2>Latest News</h2>
        <app-news-widget></app-news-widget>
    </section>

</div>